/* CSS */
body{
    margin: 0px;
    background-color:rgba(0, 247, 255, 0.568) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.grid{
    height:65vh;
    width:65vh;
    min-width: 560px;
    min-height: 560px;
    position:relative;
    border-style: solid;
    border-color: red;
    margin: 10px 0px;
}
.gridContainer{
    background-color:white;
    width: 100%;
    height: 100%;
    position: absolute;
    display:grid;
}